.navbar-brand {
   font-size: 24px;
}

.navbar-container {
   padding: 20px 0 20px 0;
   background-color: white ;
   width: 100%;
}

.navbar.navbar-fixed-top.fixed-theme {
   background-color: #222;
   border-color: #080808;
   box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar-brand.fixed-theme {
   font-size: 18px;
}

.navbar-container.fixed-theme {
   padding: 0;
}


.jumbotron {
  height: 400px;
  background-repeat: no-repeat;
  background-size: cover;
}

.jumbotron .container {
  position: relative;
  top: 60px;
}

.jumbotron h1 {
  color: #fff;
  font-size: 48px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.jumbotron p {
  font-size: 20px;
  color: #fff;
}

.learn-more {
  background-color: #efefef;
}

.learn-more h3 {
  font-family: 'Shift', sans-serif;
  font-size: 18px;
  font-weight: bold;
}

.learn-more a {
  color: #00b0ff;
}

.skills {
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.projects {
  border-bottom: 1px solid #dbdbdb;
}

.projects p {
  font-size: 15px;
  margin-bottom: 13px;
}

.list-group li {
  font-size: 1.5em;
}
