.logo img{
  width: 200px;
}

.navbar-brand {
   font-size: 24px;
}

.navbar-container {
   padding: 20px 0 20px 0;
   background-color: white ;
   width: 100%;
}

.navbar.navbar-fixed-top.fixed-theme {
   background-color: #222;
   border-color: #080808;
   box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar li{
  margin-top: 39px;
  margin-bottom: -20px;
  font-size: 22px;
}

.navbar li :hover{

}

.navbar-brand.fixed-theme {
   font-size: 28px;
}

.navbar-container.fixed-theme {
   padding: 0;
}


.banner {
  background-repeat: no-repeat;
  background-color: #efefef;
  background-size: cover;
}

.banner .container {
  position: relative;
}
.banner div{
  padding-top: 2.3em;
  padding-bottom: .75em;
}
.banner h1 {
  font-size: 64px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.self-image{
  width: 30vh;
  height: 30vh;
}

.about{
    padding: 20px;
}
.skills {
  padding: 20px;
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}

.projects {
  margin-bottom: 50px;
}

.projects p {
  margin-bottom: 13px;
}

.list-group li {
  font-size: 1.5em;
}
.thumbnail{
  border: 2px solid white;
}
