a, li {
  text-align: center;
  -webkit-transition: all .5s ease;
  -moz-transition: all .5s ease;
  transition: all .5s ease;
}
.logo img{
  width: 200px;
}
.section-heading{
  font-size:2.7em;
}
.text-muted{
  font-size: 1.3em;
}

.navbar-brand {
   font-size: 24px;
}

.navbar-container {
   padding: 20px 0 20px 0;
   margin-bottom: 10px;
   background-color: white ;
   width: 100%;
}

.navbar.navbar-fixed-top.fixed-theme {
   background-color: #222;
   border-color: #080808;
   box-shadow: 0 0 5px rgba(0,0,0,.8);
}

.navbar li{
  margin-top: 39px;
  margin-bottom: -5px;
  font-size: 22px;
}

.navbar li :hover{
  font-size: 115%;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  padding-bottom:12px;
  border-radius: 5px;

}

.navbar-brand.fixed-theme {
   font-size: 28px;
}

.navbar-container.fixed-theme {
   padding: 0;
}


.banner {
  background-repeat: no-repeat;
  background-color: #efefef;
  background-size: cover;
}

.banner .container {
  position: relative;
}
.banner div{
  padding-top: 2.3em;
  padding-bottom: .75em;
}
.banner h1 {
  font-size: 75px;
  font-family: 'Shift', sans-serif;
  font-weight: bold;
}

.banner h2{
  font-size: 50px
}
.service-heading{
  font-size: 1.9em;
}

.self-image{
  width: 30vh;
  height: 30vh;
}

.about{
    padding: 20px;
}
.skills {
  padding: 20px 0px 20px 2px;
  background-color: #efefef;
  border-bottom: 1px solid #dbdbdb;
}
.work-projects {
  padding: 20px 0px 20px 2px;
  border-bottom: 1px solid #dbdbdb;
}
.work-projects a{
  text-decoration: none;
  display: block;

}
.work-projects li{
    background-color: #efefef;
}
.grow {
  transition: all .3s ease-in-out;
}
.grow:hover {
  transform: scale(1.07);
  background-color: white;
  color:black;
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  margin-bottom: 3px;

}

.projects {
  padding-bottom: 20px;
  background-color: #efefef;
}

.projects p {
  font-size: 1.2em;
  margin-bottom: 13px;
}

.project-container{
  border: 3px solid #dbdbdb;
  min-height: 34.5em;
  max-height: 50em;
}
.project-container img{
  border: 2px solid black;
  margin-top: 1em;
  margin-bottom: 1em;
}

.list-group li {
  font-size: 1.5em;
}
.thumbnail{
  border: none;
  background-color: #efefef
}

.work-projects{
  padding-bottom: 20px;
}

.box{
    display: none;
    width: 100%;
}

a:hover + .box,.box:hover{
    display: block;
    position: relative;
    z-index: 100;
}
